In [4]:
for i in range(1,11):
  print("**********")
  for k in range(1,11):
    print('{} * {} = {}'.format(k,i,k*i))

**********
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10
**********
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
**********
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
**********
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
**********
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
**********
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
**********
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70
**********
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
**********
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90
**********
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [25]:
x = int(input("enter a number to check whether it is a prime number: "))
count = []

if (x <= 0) or (x==1):
  print("it is not prime number")

for i in range(2,x+1):
  if x % i == 0:
    count.append(i)

if len(count)>1:
  print(f"{x} is not a prime number")
else:
  print("it is prime")

enter a number to check whether it is a prime number: 101
it is prime

In [26]:
import numpy as np

In [34]:
np.random.randint(1,100)

70

In [37]:
number = np.random.randint(1,100)
number_of_attempts = 5 

while number_of_attempts > 0:
  number_of_attempts-=1 
  your_number = int(input("enter a number to predict the number: "))

  if your_number == number:
    print("congrats, you have predicted correct")
    break
  elif your_number < number:
    print("go up")
  elif your_number > number:
    print("go down")
  
  if number_of_attempts == 0:
    print(f"you consumed your all rights to predict the number. The number was {number}")

enter a number to predict the number: 5
go up
enter a number to predict the number: 70
go up
enter a number to predict the number: 75
go up
enter a number to predict the number: 80
go up
enter a number to predict the number: 90
go up
you consumed your all rights to predict the number. The number was 94

In [41]:
number = np.random.randint(1,6)
number_of_attempts = 5 
counter = 0 

while number_of_attempts > 0:
  number_of_attempts-=1 
  counter += 1
  your_number = int(input("enter a number to predict the number: "))

  if your_number == number:
    print(f"Congrats, you have predicted correct. You have {100-(20)*(counter-1)} points")
    break
  elif your_number < number:
    print("go up")
  elif your_number > number:
    print("go down")
  
  if number_of_attempts == 0:
    print(f"you consumed your all rights to predict the number. The number was {number}")

enter a number to predict the number: 3
go up
enter a number to predict the number: 4
go up
enter a number to predict the number: 5
Congrats, you have predicted correct. You have 60 points

In [42]:
numbers = [i for i in range(1,10)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
numbers_2 = [i*2 for i in range(1,10)]
numbers_2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
numbers = [1,5,9,8,15,44]
result = []

for i in numbers:
  if (i%2==0):
    result.append(i)

print(result)

[8, 44]

In [45]:
result_list_comprehension = [i for i in numbers if i % 2 ==0]
result_list_comprehension

[8, 44]

In [46]:
result_list_comprehension_2 = [i**2 for i in numbers if i % 2 ==0]
result_list_comprehension_2

[64, 1936]

In [48]:
result_list_comprehension_3 = [i if i % 2 == 0 else "odd number" for i in numbers]
result_list_comprehension_3

['odd number', 'odd number', 'odd number', 8, 'odd number', 44]

In [62]:
prices = [1000,3000,5000,4000,0]
after_taxes = []

for i in prices:
  if i > 0:
    after_taxes.append(i*1.15)

print(after_taxes)

[1150.0, 3449.9999999999995, 5750.0, 4600.0]

In [63]:
[i*1.15 for i in prices if i>0]

[1150.0, 3449.9999999999995, 5750.0, 4600.0]

In [64]:
[i*1.15 if i>0 else 'tax is not calculated' for i in prices]

[1150.0, 3449.9999999999995, 5750.0, 4600.0, 'tax is not calculated']

In [67]:
result = []

for x in range(3):
  for y in range(3):
    result.append((x,y))

print(result)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [71]:
result_2 = [(x,y) for x in range(3) for y in range(3)]
result_2

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [72]:
result_3 = [(x,y,z) for x in range(3) for y in range(3) for z in range(3)]

[(0, 0, 0),
 (0, 0, 1),
 (0, 0, 2),
 (0, 1, 0),
 (0, 1, 1),
 (0, 1, 2),
 (0, 2, 0),
 (0, 2, 1),
 (0, 2, 2),
 (1, 0, 0),
 (1, 0, 1),
 (1, 0, 2),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 2),
 (1, 2, 0),
 (1, 2, 1),
 (1, 2, 2),
 (2, 0, 0),
 (2, 0, 1),
 (2, 0, 2),
 (2, 1, 0),
 (2, 1, 1),
 (2, 1, 2),
 (2, 2, 0),
 (2, 2, 1),
 (2, 2, 2)]