In [1]:
numbers = [1,5,15,35,57,72]

In [2]:
for i in numbers:
  print(i)

1
5
15
35
57
72

In [4]:
for i in numbers:
  if i % 5 == 0:
    print(i)

5
15
35

In [5]:
for i in numbers:
  if i % 2 == 0:
    print(i**2)

5184

In [10]:
sum_ = 0
for i in numbers:
  sum_ += i

print(sum_)

185

In [11]:
items = ["iphone 8","iphone X","iphone XR","samsung S10"]

In [12]:
for i in items:
  print(i[1])

p
p
p
a

In [15]:
for i in items:
  print(i.find("iphone"))

# -1 means that it does not contain 'iphone' statement.

0
0
0
-1

In [17]:
count = 0 

for i in items:
  t=i.find("iphone")
  if t > -1:
    count+=1
print(count)

# three of the items contains 'iphone' statement

3

In [19]:
items2 = [
          {"name":"iphone 8","price":"4000"},
          {"name":"iphone 8 Plus","price":"5000"},
          {"name":"iphone X","price":"6000"},
          {"name":"iphone XR","price":"7000"},
          {"name":"iphone 11","price":"8000"},
          {"name":"samsung S10","price":"6000"}]

In [22]:
for t in items2:
  print(t.values())

dict_values(['iphone 8', '4000'])
dict_values(['iphone 8 Plus', '5000'])
dict_values(['iphone X', '6000'])
dict_values(['iphone XR', '7000'])
dict_values(['iphone 11', '8000'])
dict_values(['samsung S10', '6000'])

In [25]:
for t in items2:
  print(f"name:{t['name']}")

name:iphone 8
name:iphone 8 Plus
name:iphone X
name:iphone XR
name:iphone 11
name:samsung S10

In [27]:
for i in items2:
  print(f"price:{i['price']}")

price:4000
price:5000
price:6000
price:7000
price:8000
price:6000

In [30]:
for i in items2:
  print(f"name:{i['name']} and price:{i['price']}")

name:iphone 8 and price:4000
name:iphone 8 Plus and price:5000
name:iphone X and price:6000
name:iphone XR and price:7000
name:iphone 11 and price:8000
name:samsung S10 and price:6000

In [33]:
sum_of_the_prices = 0

for i in items2:
  sum_of_the_prices+=int(i["price"])

print(sum_of_the_prices)

36000

In [35]:
for i in items2:
  if int(i["price"])<=6000:
    print(i["name"])

iphone 8
iphone 8 Plus
iphone X
samsung S10

In [39]:
for i in items2:
  if int(i["price"])<=6000:
    print(f"name:{i['name']} / price:{i['price']}")

name:iphone 8 / price:4000
name:iphone 8 Plus / price:5000
name:iphone X / price:6000
name:samsung S10 / price:6000

In [43]:
x = input("the product you look for: ")

for i in items2:
  t = i["name"].find(x)
  print(t)

the product you look for: iphone
0
0
0
0
0
-1

In [45]:
x = input("the product/s you look for: ")

for i in items2:
  t = i["name"].find(x)
  if t > -1:
    print(f"name:{i['name']} price:{i['price']}")

the product/s you look for: iphone
name:iphone 8 price:4000
name:iphone 8 Plus price:5000
name:iphone X price:6000
name:iphone XR price:7000
name:iphone 11 price:8000