In [4]:
i = 0 
numbers = int(input("how many items do you want to add to your basket?: "))
items = []

while (numbers>i):
  name = input("item name: ")
  price = input("item price: ")
  items.append({
      "item name":name,
      "item price":price
  })
  i+=1

print(items)

how many items do you want to add to your basket?: 3
item name: samsung s10
item price: 7600
item name: macbook air
item price: 12000
item name: iphone X
item price: 20000
[{'item name': 'samsung s10', 'item price': '7600'}, {'item name': 'macbook air', 'item price': '12000'}, {'item name': 'iphone X', 'item price': '20000'}]

In [5]:
for i in items:
  print(i)

{'item name': 'samsung s10', 'item price': '7600'}
{'item name': 'macbook air', 'item price': '12000'}
{'item name': 'iphone X', 'item price': '20000'}

In [10]:
for i in items:
  print(f"item name: {i['item name']} item price:{i['item price']}")

item name: samsung s10 item price:7600
item name: macbook air item price:12000
item name: iphone X item price:20000

In [12]:
i = 0 

while (i<len(items)):
  print(items[i])
  i+=1

{'item name': 'samsung s10', 'item price': '7600'}
{'item name': 'macbook air', 'item price': '12000'}
{'item name': 'iphone X', 'item price': '20000'}

In [13]:
name = "Abdulhalim Acar"

for i in name:
  if i == "a":
    continue 
  print(i)

A
b
d
u
l
h
l
i
m

A
c
r

In [14]:
name = "Abdulhalim Acar"

for i in name:
  if i == "a":
    break  
  print(i)

A
b
d
u
l
h

In [16]:
i = 0 

while i < 5:
  if i == 2:
    break 
  i+=1
  print(i)

1
2

In [17]:
i = 0 

while i < 5:
  if i == 4:
    break 
  i+=1
  print(i)

1
2
3
4

In [18]:
i = 0 

while i < 5:
  if i == -1:
    break 
  i+=1
  print(i)

1
2
3
4
5

In [21]:
i = 0 

while i < 10:
  if i % 2 == 1:
    break 
  i+=1
  print(i)

1

In [23]:
i = 0 

while i < 10:
  if i % 2 == 1:
    continue 
  i+=1
  print(i)

# the code below continue will not work when it finds an odd number. That's why it enters an endless loop.

1

KeyboardInterrupt: ignored

In [24]:
i = 0 

while i < 10:
  i+=1
  if i % 2 == 1:
    continue 
  print(i)

2
4
6
8
10

In [27]:
i = 0 

while i < 41:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [36]:
i = 0 
sum = 0 

while i < 101:
  sum+=i
  i+=1

print(sum)

5050

In [35]:
i = 0 
sum = 0 

while i < 101:
  if i % 2 == 0:
    sum+=i
  i+=1 

print(sum)

2550

In [42]:
i = 0 
sum = 0 

while i < 101:
  i+=1
  if i % 2 == 1:
    continue
  sum+=i
   

print(sum)

2550

In [39]:
i = 0 

while i < 10:
  i+=1
  if i == 4:
    continue 
  print(i)

1
2
3
5
6
7
8
9
10

In [40]:
i = 0 

while i < 10:
  i+=1
  if i == 4:
    break 
  print(i)

1
2
3

In [44]:
for i in range(1,8):
  print(i)

1
2
3
4
5
6
7

In [45]:
for i in range(1,8,2):
  print(i)

1
3
5
7

In [47]:
for i in range(8,1,-2):
  print(i)

8
6
4
2

In [49]:
for i in range(8,5,-1):
  print(i)

8
7
6

In [50]:
brands = ["BMW","Volkswagen","Mercedes"]

for i in brands:
  print(i)

BMW
Volkswagen
Mercedes

In [51]:
brands = ["BMW","Volkswagen","Mercedes"]
index = 0 

for i in brands:
  print(f"{index}-{i}")

0-BMW
0-Volkswagen
0-Mercedes

In [54]:
brands = ["BMW","Volkswagen","Mercedes"]
index = 0 

for i in brands:
  print(f"{index}-{i}")
  index+=1

0-BMW
1-Volkswagen
2-Mercedes

In [55]:
for i in enumerate(brands):
  print(i)

(0, 'BMW')
(1, 'Volkswagen')
(2, 'Mercedes')

In [56]:
obj = enumerate(brands)
print(list(obj))

[(0, 'BMW'), (1, 'Volkswagen'), (2, 'Mercedes')]

In [58]:
for index,value in enumerate(brands):
  print(index,value)

0 BMW
1 Volkswagen
2 Mercedes

In [59]:
list1 = [1,2,3]
list2 = ["bmw","mercedes","volkswagen"]

print(list(zip(list1,list2)))

[(1, 'bmw'), (2, 'mercedes'), (3, 'volkswagen')]

In [60]:
list1 = [1,2,3]
list2 = ["bmw","mercedes","volkswagen"]
list3 = ["deutsch","deutsch","deutsch"]

print(list(zip(list1,list2,list3)))

[(1, 'bmw', 'deutsch'), (2, 'mercedes', 'deutsch'), (3, 'volkswagen', 'deutsch')]

In [61]:
for i in zip(list1,list2):
  print(i)

(1, 'bmw')
(2, 'mercedes')
(3, 'volkswagen')

In [62]:
for a,b,c in zip(list1,list2,list3):
  print(a,b,c)

1 bmw deutsch
2 mercedes deutsch
3 volkswagen deutsch